:root {
  --hero-background: #00000033;
  --background-text-color: #fff;
  --title-color: #323232;
  --text: #999999;
  --accent: #4985ff;
  --subtitle-color: #000;
  --background-color-var: #f6f6f8;
}

body {
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}
/* Components class */
.button {
  color: var(--background-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  width: 200px;
  height: 45px;
}

.links {
  color: var(--accent);
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.section-title {
  color: var(--title-color, #323232);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
}

.main-text {
  font-size: 16px;
  line-height: 158.47%;
}

.subtitle-text {
  color: var(--subtitle-color, #000);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.subtext {
  font-size: 14px;
  line-height: 158.47%;
}

/* Header */
.header-nav {
}

.header-list {
}

.header-item {
}

.header-link {
  color: var(--background-text-color);

  font-size: 16px;
  font-weight: 500;
}

/* Hero */
.hero {
}
.hero-subtitle {
  color: var(--background-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.hero-title {
  color: var(--background-text-color);
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

/* Services */
.services {
}
.services-title {
}
.servises-info {
}
.servises-list {
}
.services-item {
}
.services-name {
}
.services-info {
}

/* Standarts */
.standarts-statistic {
  color: var(--subtitle-color);
  font-size: 36px;
  line-height: 146.28%;
}

/* Works */
.works-tittle {
  color: var(--background-text-color);
}
/* Projects */
/* Video */
/* Footer */
