:root {
  --hero-background: #00000033;
  --background-text-color: #fff;
  --title-color: #323232;
  --text: #999999;
  --accent: #4985ff;
  --subtitle-color: #000;
  --background-color-var: #f6f6f8;
  --border-color: #e0e0e0;

  --grid-gap: 30px;
  --grid-items: 3;
}

body {
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

/* cancel */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding: 0 15px;
  outline: solid #323232;
  margin: 0 auto;
}

/* Components class */

.grid-list {
  display: flex;
  gap: var(--grid-gap);
}

.grid-item {
  width: calc(
    100% - (var(--grid-gap) * (var(--grid-items) - 1)) / var(--grid-items)
  );
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background-text-color);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  width: 200px;
  height: 45px;
}

.links {
  color: var(--accent);
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}

.section-title {
  color: var(--title-color, #323232);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
}

.main-text {
  font-size: 16px;
  line-height: 158.47%;
}

.subtitle-text {
  color: var(--subtitle-color, #000);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.subtext {
  font-size: 14px;
  line-height: 158.47%;
}

/* Header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-nav {
}

.header-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.header-item {
}

.header-link {
  color: var(--background-text-color);

  font-size: 16px;
  font-weight: 500;
}

/* Hero */
.hero {
  padding-top: 319px;
  padding-bottom: 335px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/hero-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
  margin-bottom: 20px;

  color: var(--background-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.hero-title {
  margin-bottom: 50px;

  color: var(--background-text-color);
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.hero-button {
  margin: 0 auto;
}

/* Services */
.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-title {
  max-width: 739px;
  margin: 0 auto 32px;
}

.servises-info {
  max-width: 730px;
  margin: 0 auto 80px;
  text-align: center;
}

.servises-list {
  display: flex;
  gap: 27px;
}

.services-item {
  display: flex;
}

.services-circle-out {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 110px;
  border: 1px solid var(--border-color);
  width: 110px;
  height: 110px;
}

.services-circle-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  border: 1px solid var(--accent, #4985ff);
  width: 90px;
  height: 90px;
}
.services-icon {
  fill: var(--accent);
}

.services-txt {
  padding-top: 46px;
  margin-left: 17px;
}

.services-name {
  margin-bottom: 12px;
}

.services-info {
}

.service-btn {
  margin: 55px auto 0;
}

/* Standarts */
.standarts-statistic {
  color: var(--subtitle-color);
  font-size: 36px;
  line-height: 146.28%;
}

.standarts {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: var(--background-color-var);
}

.standarts-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.standarts-text {
  max-width: 489px;
  outline: 1px solid red;
}

.standarts-title {
  margin-bottom: 60px;
  text-align: left;
}

.standart-description {
  margin-bottom: 42px;
}

.standarts-list {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--border-color);
  padding-top: 70px;
}

.standarts-link {
}

.standarts-item {
}

.standarts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standart-icon {
  fill: var(--accent);
}

.standarts-statistic {
}

.standarts-name {
}

/* Works */
.works {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: linear-gradient(#4985ff 50%, #fff 50%);
}

.works-title {
  max-width: 540px;
  color: var(--background-text-color);
  text-align: left;
}

.works-list {
  border-bottom: solid #e0e0e0;
}

.works-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.works-img {
  margin-bottom: 30px;
}

.works-subtitle {
  text-align: left;
  margin-bottom: 30px;
}

.works-text {
  margin-bottom: 47px;
}

.works-item {
  padding-bottom: 85px;
}

.projects {
  padding-bottom: 130px;
  padding-top: 100px;
  background-color: var(--background-color-var);
}

.projects-text {
  text-align: center;
}

.projects-title {
  margin-bottom: 50px;
}

.projects-text {
  margin-bottom: 50px;
}

.projects-btn {
  margin: 50px auto 0;
}

/* Projects */
/* Video */
.video {
  background-image: url(../images/video-back.jpg);
  padding-bottom: 85px;
  padding-top: 70px;
  background-repeat: no-repeat;
}
.video-title {
  margin-bottom: 30px;
  color: var(--background-text-color);
}
.video-info {
  margin-bottom: 70px;
  color: var(--background-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 158.47%;
}
.video-box {
  background-image: url(../images/video-back2.jpg);
  padding: 165px 335px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
.video-button {
  border-radius: 200px;
  border: 1px solid #fff;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  background-color: transparent;
  color: var(--background-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 158.47%;
}

.video-icon {
  width: 60px;
  height: 60px;
  fill: var(--accent);
}
/* Footer */
.footer-section {
  background-color: var(--background-color-var);
  padding-bottom: 30px;
  padding-top: 70px;
}

.footer-title {
  text-align: left;
}

.footer-link {
  color: var(--text);
}

.footer-list {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 70px;
  margin-bottom: 30px;
}

.footer-copyright {
  color: var(--text, #999);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 158.47%;
}

.backdrop {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(32, 29, 29, 0.25);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  background-color: rgb(207, 203, 199);
}
